# Regression 

### It is a set of statistical process for estimating the relationship between Dependent variable and (one or more) Independent variable.

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import sklearn 
import os
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston

In [2]:
data = load_boston()
df = pd.DataFrame(data['data'])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [3]:
df.columns = data['feature_names']           # feature_names gives column title
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
df['target'] = data['target']            # target is the target values of properties
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
df.shape

(506, 14)

In [6]:
x = df.drop('target', axis=1)
y = df['target']
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: target, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split         # train=model building | test=model accuresy
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)    # 20%=test | 80%=train
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(404, 13) (102, 13) (404,) (102,)

In [9]:
# built the model
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [10]:
# gives the coefficients for each feature
list(zip(x.columns, lr.coef_))

[('CRIM', -0.10955324243437935),
 ('ZN', 0.04226600221503539),
 ('INDUS', 0.006590744954351655),
 ('CHAS', 2.487459399764403),
 ('NOX', -18.36248079212416),
 ('RM', 3.6859562389854346),
 ('AGE', 0.011734630902326345),
 ('DIS', -1.462896709001016),
 ('RAD', 0.35495641040763865),
 ('TAX', -0.01377622831739763),
 ('PTRATIO', -0.953448141216366),
 ('B', 0.007572187302038919),
 ('LSTAT', -0.5908339007435431)]

In [11]:
# intersept y=a+bx
lr.intercept_

38.66367637108103

In [12]:
# model builting after test performance
pred_train = lr.predict(x_train)
pred_test = lr.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse_train = np.sqrt(mean_squared_error(y_train, pred_train))    # seen data
rmse_test = np.sqrt(mean_squared_error(y_test, pred_test))       # unseen data
print(rmse_train, rmse_test)

4.876387431404876 3.9078334851650407

In [14]:
# conclusion: quite good & predicted price are on average plus_mins
pd.DataFrame({'Actual unseen data':y_test, "Predicated unseen data":pred_test})

     Actual unseen data  Predicated unseen data
445                11.8               12.279740
420                16.7               20.092440
70                 24.2               24.984148
258                36.0               37.055703
183                32.5               31.940074
..                  ...                     ...
125                21.4               22.405995
295                28.6               28.461359
298                22.5               29.040777
289                24.8               26.700877
35                 18.9               24.197497

[102 rows x 2 columns]